.gradient-custom {
  /* background: var(--color-primary-lighter); */
}
.card-registration {
  border: 5px solid var(--color-primary);
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
.card-registration .select-arrow {
  top: 13px;
}

.floating-border > .form-control {
  transition: all 0.1s ease-in;
}

.floating-border > .form-control:focus ~ label,
.floating-border > .form-control:not(:placeholder-shown) ~ label {
  /* Moves label onto the border line */
  transform: scale(0.9) translateY(-1rem) translateX(0.5rem);

  /* color: #000000; */
  background-color: #ffffff;

  padding: 0 0.4rem;

  height: auto;
}
input:focus {
  outline: none;
}
